openapi: 3.2.0
info:
  title: ADT+ Platform Automation API
  description: The ADT+ Platform API provides programmatic access to ADT's smart home security platform for managing security systems, devices, sensors, cameras, locks, and automation rules. Supports remote arming/disarming, real-time device status monitoring, video clip retrieval, access code management, and security event notifications for residential and small business ADT customers.
  version: '1'
  contact:
    name: ADT Customer Support
    url: https://www.adt.com/support
  termsOfService: https://www.adt.com/terms-of-service
  license:
    name: ADT Terms of Service
    url: https://www.adt.com/terms-of-service
  x-generated-from: documentation
servers:
- url: https://api.adt.com/v1
  description: ADT Platform API Production
security:
- oauth2: []
tags:
- name: Automation
  description: Manage automation rules and smart home scenes
paths:
  /systems/{systemId}/automations:
    get:
      operationId: getAutomations
      summary: ADT List Automation Rules
      description: Retrieve automation rules and smart home scenes configured for the security system.
      tags:
      - Automation
      parameters:
      - name: systemId
        in: path
        required: true
        description: Security system ID.
        schema:
          type: string
      responses:
        '200':
          description: List of automation rules.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationList'
              examples:
                getAutomations200Example:
                  summary: Default getAutomations 200 response
                  x-microcks-default: true
                  value:
                    automations:
                    - id: auto-001
                      name: Arm Away at Night
                      trigger: schedule
                      enabled: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    AutomationList:
      type: object
      description: List of automation rules.
      properties:
        automations:
          type: array
          description: Array of automation rules.
          items:
            $ref: '#/components/schemas/Automation'
    Automation:
      type: object
      description: An automation rule or smart home scene.
      properties:
        id:
          type: string
          description: Unique identifier of the automation.
          example: auto-001
        name:
          type: string
          description: Display name of the automation.
          example: Arm Away at Night
        trigger:
          type: string
          description: What triggers this automation.
          enum:
          - schedule
          - alarm
          - sensor
          - geofence
          - manual
          example: schedule
        enabled:
          type: boolean
          description: Whether the automation is currently active.
          example: true
        actions:
          type: array
          description: List of actions performed by this automation.
          items:
            type: object
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.adt.com/oauth/authorize
          tokenUrl: https://auth.adt.com/oauth/token
          scopes:
            security:read: Read security system status and events
            security:write: Arm, disarm, and control security systems
            devices:read: Read device status
            devices:write: Control smart home devices
            video:read: Access video clips and live streams
            access-codes:manage: Manage access codes
externalDocs:
  description: ADT Smart Home Documentation
  url: https://www.adt.com/smart-home
