openapi: 3.0.3
info:
  title: ADT Business Access Codes Reports API
  description: The ADT Business API provides commercial security management capabilities for managing multi-site security systems, access control, video surveillance, alarm monitoring, and security personnel management for small to enterprise business customers.
  version: '1'
  contact:
    name: ADT Business Support
    url: https://www.adt.com/business
  termsOfService: https://www.adt.com/terms-of-service
  license:
    name: ADT Terms of Service
    url: https://www.adt.com/terms-of-service
  x-generated-from: documentation
servers:
- url: https://api.adt.com/business/v1
  description: ADT Business API Production
security:
- oauth2: []
tags:
- name: Reports
  description: Generate security and compliance reports
paths:
  /sites/{siteId}/reports/events:
    get:
      operationId: getSiteEventReport
      summary: ADT Generate Site Security Event Report
      description: Generate a security event report for a business site including alarms, access events, and activity summaries.
      tags:
      - Reports
      parameters:
      - name: siteId
        in: path
        required: true
        description: Business site ID.
        schema:
          type: string
      - name: startDate
        in: query
        required: true
        description: Report start date (ISO 8601).
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        required: true
        description: Report end date (ISO 8601).
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Security event report.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventReport'
              examples:
                getSiteEventReport200Example:
                  summary: Default getSiteEventReport 200 response
                  x-microcks-default: true
                  value:
                    siteId: site-001
                    period:
                      startDate: '2025-03-01T00:00:00Z'
                      endDate: '2025-03-31T23:59:59Z'
                    summary:
                      totalAlarms: 2
                      totalAccessEvents: 150
                    events:
                    - id: evt-001
                      type: alarm
                      timestamp: '2025-03-15T14:30:00Z'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    EventReport:
      type: object
      description: A security event report for a business site.
      properties:
        siteId:
          type: string
          description: Site ID.
          example: site-001
        period:
          type: object
          description: Report time period.
          properties:
            startDate:
              type: string
              format: date-time
            endDate:
              type: string
              format: date-time
        summary:
          type: object
          description: Summary statistics.
          properties:
            totalAlarms:
              type: integer
              description: Total alarm events.
              example: 2
            totalAccessEvents:
              type: integer
              description: Total access control events.
              example: 150
        events:
          type: array
          description: List of events in the period.
          items:
            type: object
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.adt.com/oauth/token
          scopes:
            business:read: Read business site data
            business:write: Manage business security systems
            access-control:manage: Manage access control
            reports:read: Generate security reports
externalDocs:
  description: ADT Business Security Documentation
  url: https://www.adt.com/business
