openapi: 3.0.3
info:
  title: ADT Business Access Codes Access Control API
  description: The ADT Business API provides commercial security management capabilities for managing multi-site security systems, access control, video surveillance, alarm monitoring, and security personnel management for small to enterprise business customers.
  version: '1'
  contact:
    name: ADT Business Support
    url: https://www.adt.com/business
  termsOfService: https://www.adt.com/terms-of-service
  license:
    name: ADT Terms of Service
    url: https://www.adt.com/terms-of-service
  x-generated-from: documentation
servers:
- url: https://api.adt.com/business/v1
  description: ADT Business API Production
security:
- oauth2: []
tags:
- name: Access Control
  description: Manage access control panels, credentials, and schedules
paths:
  /sites/{siteId}/access-control/credentials:
    get:
      operationId: getCredentials
      summary: ADT List Access Control Credentials
      description: Retrieve all access control credentials (badges, PINs, biometric) assigned at a business site.
      tags:
      - Access Control
      parameters:
      - name: siteId
        in: path
        required: true
        description: Business site ID.
        schema:
          type: string
      responses:
        '200':
          description: List of access credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialList'
              examples:
                getCredentials200Example:
                  summary: Default getCredentials 200 response
                  x-microcks-default: true
                  value:
                    credentials:
                    - id: cred-001
                      userId: usr-001
                      type: badge
                      status: active
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createCredential
      summary: ADT Create an Access Credential
      description: Create a new access credential for a user at a business site.
      tags:
      - Access Control
      parameters:
      - name: siteId
        in: path
        required: true
        description: Business site ID.
        schema:
          type: string
      requestBody:
        required: true
        description: Credential creation request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CredentialInput'
            examples:
              createCredentialRequestExample:
                summary: Default createCredential request
                x-microcks-default: true
                value:
                  userId: usr-001
                  type: badge
                  cardNumber: '1234567890'
      responses:
        '201':
          description: Credential created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Credential'
              examples:
                createCredential201Example:
                  summary: Default createCredential 201 response
                  x-microcks-default: true
                  value:
                    id: cred-002
                    userId: usr-001
                    type: badge
                    status: active
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    CredentialInput:
      type: object
      description: Request to create an access credential.
      required:
      - userId
      - type
      properties:
        userId:
          type: string
          description: ID of the user.
          example: usr-001
        type:
          type: string
          description: Credential type.
          enum:
          - badge
          - pin
          - mobile
        cardNumber:
          type: string
          description: Card number for badge credentials.
          example: '1234567890'
    CredentialList:
      type: object
      description: List of access credentials.
      properties:
        credentials:
          type: array
          description: Array of credentials.
          items:
            $ref: '#/components/schemas/Credential'
    Credential:
      type: object
      description: An access control credential.
      properties:
        id:
          type: string
          description: Unique identifier of the credential.
          example: cred-001
        userId:
          type: string
          description: ID of the user this credential belongs to.
          example: usr-001
        type:
          type: string
          description: Type of credential.
          enum:
          - badge
          - pin
          - biometric
          - mobile
          example: badge
        status:
          type: string
          description: Credential status.
          enum:
          - active
          - suspended
          - expired
          example: active
        validFrom:
          type: string
          format: date-time
          description: Start of credential validity period.
        validTo:
          type: string
          format: date-time
          description: End of credential validity period.
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.adt.com/oauth/token
          scopes:
            business:read: Read business site data
            business:write: Manage business security systems
            access-control:manage: Manage access control
            reports:read: Generate security reports
externalDocs:
  description: ADT Business Security Documentation
  url: https://www.adt.com/business
