openapi: 3.0.3
info:
  title: ADT Business Access Codes Users API
  description: The ADT Business API provides commercial security management capabilities for managing multi-site security systems, access control, video surveillance, alarm monitoring, and security personnel management for small to enterprise business customers.
  version: '1'
  contact:
    name: ADT Business Support
    url: https://www.adt.com/business
  termsOfService: https://www.adt.com/terms-of-service
  license:
    name: ADT Terms of Service
    url: https://www.adt.com/terms-of-service
  x-generated-from: documentation
servers:
- url: https://api.adt.com/business/v1
  description: ADT Business API Production
security:
- oauth2: []
tags:
- name: Users
  description: Manage security system users and permissions
paths:
  /sites/{siteId}/users:
    get:
      operationId: getSiteUsers
      summary: ADT List Site Users
      description: Retrieve all users with access to a business site.
      tags:
      - Users
      parameters:
      - name: siteId
        in: path
        required: true
        description: Business site ID.
        schema:
          type: string
      responses:
        '200':
          description: List of site users.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserList'
              examples:
                getSiteUsers200Example:
                  summary: Default getSiteUsers 200 response
                  x-microcks-default: true
                  value:
                    users:
                    - id: usr-001
                      name: Jane Smith
                      email: jsmith@example.com
                      role: employee
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    User:
      type: object
      description: A user with access to a business site.
      properties:
        id:
          type: string
          description: Unique user ID.
          example: usr-001
        name:
          type: string
          description: Full name of the user.
          example: Jane Smith
        email:
          type: string
          format: email
          description: Email address.
          example: jsmith@example.com
        role:
          type: string
          description: User role.
          enum:
          - admin
          - manager
          - employee
          - contractor
          example: employee
    UserList:
      type: object
      description: List of site users.
      properties:
        users:
          type: array
          description: Array of users.
          items:
            $ref: '#/components/schemas/User'
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.adt.com/oauth/token
          scopes:
            business:read: Read business site data
            business:write: Manage business security systems
            access-control:manage: Manage access control
            reports:read: Generate security reports
externalDocs:
  description: ADT Business Security Documentation
  url: https://www.adt.com/business
