openapi: 3.0.3
info:
  title: ADT Business Access Codes Events API
  description: The ADT Business API provides commercial security management capabilities for managing multi-site security systems, access control, video surveillance, alarm monitoring, and security personnel management for small to enterprise business customers.
  version: '1'
  contact:
    name: ADT Business Support
    url: https://www.adt.com/business
  termsOfService: https://www.adt.com/terms-of-service
  license:
    name: ADT Terms of Service
    url: https://www.adt.com/terms-of-service
  x-generated-from: documentation
servers:
- url: https://api.adt.com/business/v1
  description: ADT Business API Production
security:
- oauth2: []
tags:
- name: Events
  description: Retrieve security events and alarm history
paths:
  /systems/{systemId}/events:
    get:
      operationId: getEvents
      summary: ADT List Security Events
      description: Retrieve security events and alarm history for a security system with optional date filtering.
      tags:
      - Events
      parameters:
      - name: systemId
        in: path
        required: true
        description: Security system ID.
        schema:
          type: string
      - name: startDate
        in: query
        description: Start date for event history filter (ISO 8601).
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: End date for event history filter (ISO 8601).
        schema:
          type: string
          format: date-time
      - name: type
        in: query
        description: Filter events by type.
        schema:
          type: string
          enum:
          - alarm
          - arm
          - disarm
          - sensor_open
          - sensor_close
          - motion
          - video
      - name: limit
        in: query
        description: Maximum number of events to return.
        schema:
          type: integer
          default: 50
      responses:
        '200':
          description: List of security events.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventList'
              examples:
                getEvents200Example:
                  summary: Default getEvents 200 response
                  x-microcks-default: true
                  value:
                    events:
                    - id: evt-001
                      type: alarm
                      description: Motion detected
                      timestamp: '2025-03-15T14:30:00Z'
                    total: 1
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    EventList:
      type: object
      description: Paginated list of security events.
      properties:
        events:
          type: array
          description: Array of security events.
          items:
            $ref: '#/components/schemas/Event'
        total:
          type: integer
          description: Total number of events matching the query.
          example: 150
    Event:
      type: object
      description: A security event or alarm history entry.
      properties:
        id:
          type: string
          description: Unique identifier of the event.
          example: evt-001
        type:
          type: string
          description: Type of security event.
          enum:
          - alarm
          - arm
          - disarm
          - sensor_open
          - sensor_close
          - motion
          - video
          - panic
          example: alarm
        description:
          type: string
          description: Human-readable description of the event.
          example: Motion detected at front door
        deviceId:
          type: string
          description: ID of the device that triggered the event.
          example: dev-001
        timestamp:
          type: string
          format: date-time
          description: Timestamp when the event occurred.
          example: '2025-03-15T14:30:00Z'
        userId:
          type: string
          description: ID of the user associated with the event.
          example: usr-001
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.adt.com/oauth/token
          scopes:
            business:read: Read business site data
            business:write: Manage business security systems
            access-control:manage: Manage access control
            reports:read: Generate security reports
externalDocs:
  description: ADT Business Security Documentation
  url: https://www.adt.com/business
