openapi: 3.0.3
info:
  title: ADT Business Access Codes Video API
  description: The ADT Business API provides commercial security management capabilities for managing multi-site security systems, access control, video surveillance, alarm monitoring, and security personnel management for small to enterprise business customers.
  version: '1'
  contact:
    name: ADT Business Support
    url: https://www.adt.com/business
  termsOfService: https://www.adt.com/terms-of-service
  license:
    name: ADT Terms of Service
    url: https://www.adt.com/terms-of-service
  x-generated-from: documentation
servers:
- url: https://api.adt.com/business/v1
  description: ADT Business API Production
security:
- oauth2: []
tags:
- name: Video
  description: Manage camera recordings and live video
paths:
  /systems/{systemId}/cameras/{cameraId}/clips:
    get:
      operationId: getVideoClips
      summary: ADT List Video Clips
      description: Retrieve recorded video clips from a camera with optional date and trigger filtering.
      tags:
      - Video
      parameters:
      - name: systemId
        in: path
        required: true
        description: Security system ID.
        schema:
          type: string
      - name: cameraId
        in: path
        required: true
        description: Camera device ID.
        schema:
          type: string
      - name: startDate
        in: query
        description: Start date filter for clips (ISO 8601).
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: End date filter for clips (ISO 8601).
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: List of video clips.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoClipList'
              examples:
                getVideoClips200Example:
                  summary: Default getVideoClips 200 response
                  x-microcks-default: true
                  value:
                    clips:
                    - id: clip-001
                      cameraId: dev-cam-001
                      startTime: '2025-03-15T14:30:00Z'
                      endTime: '2025-03-15T14:31:00Z'
                      trigger: motion
                      downloadUrl: https://media.adt.com/clips/clip-001.mp4
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    VideoClip:
      type: object
      description: A recorded video clip from a security camera.
      properties:
        id:
          type: string
          description: Unique identifier of the video clip.
          example: clip-001
        cameraId:
          type: string
          description: ID of the camera that recorded the clip.
          example: dev-cam-001
        startTime:
          type: string
          format: date-time
          description: Start timestamp of the recording.
          example: '2025-03-15T14:30:00Z'
        endTime:
          type: string
          format: date-time
          description: End timestamp of the recording.
          example: '2025-03-15T14:31:00Z'
        trigger:
          type: string
          description: What triggered the recording.
          enum:
          - motion
          - alarm
          - manual
          - schedule
          example: motion
        downloadUrl:
          type: string
          format: uri
          description: Pre-signed URL to download the video clip.
          example: https://media.adt.com/clips/clip-001.mp4
        thumbnailUrl:
          type: string
          format: uri
          description: URL of the clip thumbnail image.
          example: https://media.adt.com/thumbnails/clip-001.jpg
    VideoClipList:
      type: object
      description: List of video clips.
      properties:
        clips:
          type: array
          description: Array of video clips.
          items:
            $ref: '#/components/schemas/VideoClip'
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.adt.com/oauth/token
          scopes:
            business:read: Read business site data
            business:write: Manage business security systems
            access-control:manage: Manage access control
            reports:read: Generate security reports
externalDocs:
  description: ADT Business Security Documentation
  url: https://www.adt.com/business
