openapi: 3.0.3
info:
  title: ADT Business Access Codes Automation API
  description: The ADT Business API provides commercial security management capabilities for managing multi-site security systems, access control, video surveillance, alarm monitoring, and security personnel management for small to enterprise business customers.
  version: '1'
  contact:
    name: ADT Business Support
    url: https://www.adt.com/business
  termsOfService: https://www.adt.com/terms-of-service
  license:
    name: ADT Terms of Service
    url: https://www.adt.com/terms-of-service
  x-generated-from: documentation
servers:
- url: https://api.adt.com/business/v1
  description: ADT Business API Production
security:
- oauth2: []
tags:
- name: Automation
  description: Manage automation rules and smart home scenes
paths:
  /systems/{systemId}/automations:
    get:
      operationId: getAutomations
      summary: ADT List Automation Rules
      description: Retrieve automation rules and smart home scenes configured for the security system.
      tags:
      - Automation
      parameters:
      - name: systemId
        in: path
        required: true
        description: Security system ID.
        schema:
          type: string
      responses:
        '200':
          description: List of automation rules.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationList'
              examples:
                getAutomations200Example:
                  summary: Default getAutomations 200 response
                  x-microcks-default: true
                  value:
                    automations:
                    - id: auto-001
                      name: Arm Away at Night
                      trigger: schedule
                      enabled: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    AutomationList:
      type: object
      description: List of automation rules.
      properties:
        automations:
          type: array
          description: Array of automation rules.
          items:
            $ref: '#/components/schemas/Automation'
    Automation:
      type: object
      description: An automation rule or smart home scene.
      properties:
        id:
          type: string
          description: Unique identifier of the automation.
          example: auto-001
        name:
          type: string
          description: Display name of the automation.
          example: Arm Away at Night
        trigger:
          type: string
          description: What triggers this automation.
          enum:
          - schedule
          - alarm
          - sensor
          - geofence
          - manual
          example: schedule
        enabled:
          type: boolean
          description: Whether the automation is currently active.
          example: true
        actions:
          type: array
          description: List of actions performed by this automation.
          items:
            type: object
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.adt.com/oauth/token
          scopes:
            business:read: Read business site data
            business:write: Manage business security systems
            access-control:manage: Manage access control
            reports:read: Generate security reports
externalDocs:
  description: ADT Business Security Documentation
  url: https://www.adt.com/business
